Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Dark Matter Team <https://github.com/abmina/dark-matter-ide/issues>
Homepage: https://github.com/abmina/dark-matter-ide
Installed-Size: @@INSTALLEDSIZE@@
Provides: dark-matter
Conflicts: visual-studio-code
Replaces: visual-studio-code
Description: AI Coding Privacy. Redefined.
 Dark Matter is a high-performance, open-source code editor based on the
 VS Code platform, optimized for the modern development cycle.
 See https://github.com/abmina/dark-matter-ide for more information.
