Template: @@NAME@@/add-repo
Type: boolean
Default: false
Description: Add Dark Matter repository?
 The installer can add the repository to your system to ensure you receive
 the latest updates automatically.
 key to update Dark Matter through apt.
